p {
    margin: 0;
}
.preload-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    font-size: 25px;
}
#street-food-product-container {
    color: #fff;
}

#bgnd-wall {
    width: 100%;
    height: 50vh;
    background: url(../img/manu-ros-hHCmBeTWn88-unsplash.jpg) fixed center no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden; /* Добавляем это свойство, чтобы обрезать лишнюю часть изображения */
    
    /* Сдвигаем изображение немного вверх, например, на 50px */
    background-position: center bottom 300px;
}

#bgnd-wall::before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}
#bgnd-wall .innerTitle {
    
    font-family: 'Overpass', sans-serif;
    font-weight: 200;
    position: relative;
    font-size: calc(25px + 25 * (100vw / 1920));
    color: #fff;
}

@media(max-width: 768px) {
    #bgnd-wall {
        background-size: calc(750px + 200 * (100vw / 768)) auto;
        /* Сдвигаем изображение немного вверх, например, на 50px */
       
    }
}